<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a book</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'belt/add_styles.css' %}">
  </head>
  <body>
    <h1>Add a New Book Title and a Review:</h1>

    <form action="{% url 'belt:create' %}" method="POST">
      {% csrf_token %}
      <label for="title">Book Title</label>
      <input type='text' name='title' />
      <h2>Author</h2>
      <label for="author">Author</label>
      <input type='text' name='author'></int>
      <label for="review">Review:</label>
      <textarea rows='8' cols='50' name='review' /></textarea>
      <input type='submit' value="Submit Review" />
      <label for="rating">Rating (out of 5):</label>
      <select name='rating'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </form>

  </body>
</html>
