<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to my Garden!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'giggles/index_styles.css' %}">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <img src="/static/giggles/images/helping_children_grow.jpg" />
        <h1>Andy's giggle Garden</h1>
      </div>
      <div id="sidebar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div id="main_content">
        <h1>Ipsum Lorem</h1>
      </div>
    </div>
  </body>
</html>
